@using SharedLibrary.Models;
@using SharedLibrary.Services;

<PageTitle>Weather forecast | Telerik</PageTitle>

<h1>Weather forecast - REST and Telerik</h1>

<p>This component demonstrates fetching data from the server - REST and Telerik.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TelerikGrid Data="@forecasts" Pageable="true" FilterMode="@GridFilterMode.FilterRow">
        <GridColumns>
            <GridColumn Field="@(nameof(WeatherForecast.Date))" Title="Date" />
            <GridColumn Field="@(nameof(WeatherForecast.TemperatureC))" Title="Temp. (C)" />
            <GridColumn Field="@(nameof(WeatherForecast.TemperatureF))" Title="Temp. (F)" />
            <GridColumn Field="@(nameof(WeatherForecast.Summary))" Title="Summary" />
        </GridColumns>
    </TelerikGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Please do not comment on this line. This is just a test application.
        var client = new HttpClient { BaseAddress = new Uri("https://localhost:7288") };
        forecasts = await client.GetFromJsonAsync<WeatherForecast[]>("GetWeatherForecasts");
    }
}
